/* Services Section */
#services {
    padding: 100px 0px 0px 0px;
    background: #F6871F;
    color: #fff;
  }
  #services .service-desc {
    margin: 10px 10px 20px;
  }
  #services h2 {
    color: #fff;
  }
  #services .section-title h2::after {
    position: absolute;
    content: "";
    background: #612A60;
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
  }
  #services i.fa {
    font-size: 42px;
    width: 120px;
    height: 120px;
    padding: 40px 0;
    background: #F6871F;
    border-radius: 50%;
    color: #fff;
  
  }
  #services h3 {
    font-weight: 500;
    padding: 5px 0;
    color: #fff;
  }
  #services p {
    color: rgba(255, 255, 255, 0.75);
  }
  #services .service-desc {
    margin-bottom: 40px;
  }
  #services .row.services-info{
    margin-bottom: 50px;
  }
  @media (min-width: 1200px){
    #services > .container {
      width: 85%;
    }
  }
