#interviewPopup .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #FFFFFF;
    background-color: transparent;
    background-image: none;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  #interviewPopup .modal-content{
    border:0px;
  }
  #interviewPopup .modal-header{
    background:#612A60 ;
    border-bottom: 0px;
    color:#FFFFFF;
  }
  #interviewPopup .modal-header h3{
    color:#FFFFFF;
    margin-bottom: 5px;
  }
  select{
      font-size: 10px !important;
  }
   select >option{
    font-size: 13px;
    color: #FFFFFF;
    background:#F6871F;
  }

  select >option:hover {
    background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%) !important;
    color: #fff !important;
  }
  #interviewPopup .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
    font-size: 10px;
}

#interviewPopup .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
    font-size: 10px;
}

#interviewPopup .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
    font-size: 10px;
}